.top-bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #072942;
  color: #fff;
  padding: 15px 50px;
}

.green-bar {
  display: flex;
  justify-content: right;
  align-items: right;
  background-color: #dcf22a;
  padding: 4px 50px;
  font-size: small;
  color: #072942;
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0; /* Puedes ajustar la alineación horizontal si es necesario */
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #072942;
  color: #fff;
  padding: 15px 50px;
}

.left-section {
  display: flex;
  align-items: center;
}

.right-section {
  display: flex;
  align-items: center;
}

.left-section span {
  margin-right: 15px; /* Añade un margen a la derecha de cada span en left-section */
}

.right-section span {
  margin-right: 15px; /* Añade un margen a la derecha de cada span en right-section */
}

.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 20dvw;
}

.product-container > img {
  width: 100%;
  border-radius: 20px;
}

.product-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.product-details-container img {
  max-width: 20dvw;
  border-radius: 12px;
}

.product-details {
  display: flex;
  flex-direction: column;
  margin-left: 5dvw;
}

.product-details > p {
  color: #a0a0a0;
  margin: 0%;
}

.icons-section {
  display: flex;
  justify-content: space-between;
  color: #dcf22a;
  width: 80px;
}

.font-dark {
  color: #072942;
  font-weight: bold;
}

.detail-bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 10px;
}

.detail-button {
  background-color: #dcf22a;
  color: #072942;
  border: none;
  font-weight: bolder;
  font-size: 13px;
  width: 150px;
  cursor: pointer;
  border-radius: 8px;
  margin: auto;
  padding: 8px;
}

.detail-button:hover {
  background-color: #8d9c1d;
}

/* Estiliza los elementos individualmente según sea necesario */
.top-bar img {
  filter: brightness(500%);
  position: absolute; /* Establece la imagen como posición absoluta */
  top: 50%; /* Alinea la parte superior de la imagen al centro vertical de la barra */
  transform: translateY(
    -50%
  ); /* Alinea verticalmente la imagen en relación al centro de la barra */
  max-height: 70px; /* Permite que la imagen tenga su tamaño original, sin restricción de altura */
  width: auto;
}
