.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  button {
    background-color: #0074d9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  .table-container {
    text-align: center;
  }
  
  .table-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .excel-table {
    width: 50%;
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
  }
  
  .excel-table th, .excel-table td {
    border: 1px solid #000;
    padding: 10px;
  }
  
  .excel-table th {
    background-color: #0074d9;
    color: #fff;
  }

  .excel-table-column {
    margin-left: 15px;
  }

  .ver-mas-button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .ver-mas-button:hover {
    background-color: #45a049;
  }