
.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  button {
    background-color: #1286eb;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  .table-container {
    padding-top: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .table-title {
    font-size: 24px;
  }
  
  .excel-table {
    width: 50%;
    min-width: 630px;
    border-collapse: collapse;
    text-align: center;
  }
  
  .excel-table th, .excel-table td {
    border: 1px solid #000;
    padding: 10px;
  }
  
  .excel-table th {
    background-color: #1286eb;
    color: #fff;
  }

  .excel-table .no-border {
    border: none;
  }

  .ver-mas-button {
    display: block;
    background-color: #1286eb;
    color: #fff;
    width: 80px;
    border: none;
    padding: 8px 8px;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
  }
  
  .ver-mas-button:hover {
    background-color: #005096;;
  }

  .add-product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .add-product-form {
    width: 380px;
    padding: 20px; 
  }
  .add-form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group {
    width: 100%;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .form-block{
    width: 200px;
    padding: 2px;
    border: 1px solid #000;
    min-height: 30px;
  }
  
  .error-message {
    color: red;
  }
  
  .submit-button {
    background-color: #1286eb;
    color: #fff;
    border: none;
    font-size: small;
    width: 150px;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 18px;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }